
@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:wght@600&display=swap');

*{
  margin: 0;
  padding: 0;
}
.Navbar{
  height: 10vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1.3fr 0.5fr;

}
.Sidebar{
  width: 7%;
}
.Para-side{
  display: none;
  transition: all 300ms;
}
.Sidebar ul li{
  list-style:none;
}
.List-Side{
  height: 20px;
  width: 100%;
  display: flex;
}
/* .List-Side:hover .Para-side{
  display: flex;
} */
.List-Side:hover .Sidebar{
  width: 20%;
}
li.hovered {
  background-color: grey;
  border-radius: 8px;
}
.Flex-Box-Cards{
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 20px;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.GridBox{
  display: grid;
  grid-template-rows: 0.5fr 1fr 0.5fr;
  background-color: bisque;
  max-height: auto;
  width: 100%;
  gap: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 20px;
}
.Utilities{
  display: flex;
  justify-content: space-between;
}
.Rating{
  display: flex;
  justify-content: space-between;
}
.Title{
  font-family: 'Pathway Extreme', sans-serif;
  font-size: 1.3rem;
}